@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Quicksand", sans-serif !important;
}

.ant-dropdown-menu-item {
  padding: 14px !important;
}

.text-gray-custom {
  @apply text-custom !important;
}

.ant-space {
  @apply flex items-center !important;
}

.ant-drawer-body {
  @apply p-0 !important;
}

.slide-banner {
  position: relative !important;
}

/*
.slide-banner:hover .slick-arrow {
  right: 2% !important;
  display: block !important;

}

.slide-banner:hover .slick-prev {
  left: 2% !important;
  display: block !important;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  background-color: #3BB77E !important;
  z-index: 1000 !important;

}

.slick-arrow.slick-next {
  display: none !important;
}

.slick-arrow.slick-prev {
  display: none !important;

} */

.slide-banner-home1 {
  background-image: url(https://www.niraagayurveda.com/assets/imgs/slider/slider-1.png);
  width: 100%;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}

.slide-banner-home2 {
  background-image: url(https://www.niraagayurveda.com/assets/imgs/slider/slider-2.png);
  width: 100%;
  border-radius: 30px;
  background-size: cover;
  background-position: center center;
}

.featuredCategories .slick-slide {
  padding: 0 8px;
}


.banner-featuredCategory1 {
  background-image: url(https://www.niraagayurveda.com/assets/imgs/banner/banner-1.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.banner-featuredCategory2 {
  background-image: url(https://www.niraagayurveda.com/assets/imgs/banner/banner-2.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
}

.banner-featuredCategory3 {
  background-image: url(https://www.niraagayurveda.com/assets/imgs/banner/banner-3.png);
  width: 100%;
  background-size: cover;
  background-position: center center;
}